body {
  font-family: "Times New Roman", serif;
  padding: 20px;
  background-color: #735da5;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

.text-field {
  font-family: "Times New Roman", serif;
  width: 25%;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  font-family: "Times New Roman", serif;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #d3c5e5;
  cursor: pointer;
}

form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  background-color: #d3c5e5;
  margin: 10px 0;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

a {
  color: #007bff;
  text-decoration: none;
}
